body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, #000000, #ffffff);
}

.container {
  text-align: center;
}

.header {
  margin-bottom: 30px;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 12px;
  margin-bottom: 10px;
  background-color: #000000;
}

h1 {
  font-size: 24px;
  margin: 5px 0;
}

.subtitle {
  font-size: 14px;
  color: #000000;
  margin: 0;
}

.login-box {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.50);
  max-width: 320px;
  margin: 0 auto;
  text-align: left;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #f5f5f7;
}

.forget {
  margin: 15px 0;
  font-size: 0.8rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forget label {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 0;
  cursor: pointer;
}

.forget input[type="checkbox"] {
  margin: 0;
  accent-color: #060214;
}

.forget a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.forget a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #060214;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
}

button:hover {
  background-color: #1a1a3d;
}

.register {
  font-size: 0.9rem;
  color: black;
  text-align: center;
  margin: 20px 0 10px;
}

.register p a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.register p a:hover {
  text-decoration: underline;
}

#forgotPasswordSection {
  display: none;
  text-align: left;
  margin-top: 10px;
}

#forgotPasswordSection h2 {
  text-align: center;
}

#forgotPasswordSection p {
  text-align: center;
  margin-top: 15px;
}

#backToLogin {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

#backToLogin:hover {
  text-decoration: underline;
}

